

a{
  font-style: normal;
  color:rgb(9, 17, 81);
  font-size: larger;
  font-weight: 900;
  text-align: center;
text-transform:uppercase; text-decoration: none;
}

        nav ul {
            list-style: none;
            padding: 10px;
            margin: 10px;
            display: flex;
            justify-content: center; 
            gap: 100px; 
        }


        nav ul li a {
            text-decoration: none;
            color: rgb(9, 9, 122);
     background-color: rgb(165, 239, 97);
    
            padding: 10px 30px;
            border-radius: 50px;
            
        }
    


.con-borde {
  border: 1px solid rgb(0, 0, 11);
  padding: 3px; 

}


p{
    color: rgb(0, 0, 0);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style:unset;
    font-size:smaller;
    font-weight:570;
   margin: 60px;
   padding: 5px;
   text-align: center;
}

h2{
 font-style: normal;
  color:rgb(5, 84, 55);
  font-size: larger;
  font-weight: 900;
  text-align: center;
  text-decoration-style:dotted;

}

h1{
 font-style: normal;
  color:rgb(5, 84, 55);
  font-size: larger;
  font-weight: 900;
  text-align: center;
  text-decoration-style:dotted;

}

body
{ 
background-color:rgb(224, 223, 220);
}

.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    
    height: 1400px;
  
}
    
.div1 {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    height: max-content;
}

.div2 {
    grid-row: span 2 / span 2;
    grid-row-start: 3;
    border-radius: 10px 10px;
    padding: 10px;
    margin: 5px;
    height: max-content;
    }

.div2:hover {
    border: 2px rgb(15, 96, 58) solid;
    animation: deslizar-abajo 6s infinite;
}

@keyframes deslizar-abajo {
from{transform:translateY(100px);opacity: 0;}
to{transform: translateY(0);opacity: 1;}
}


.div3 {
    grid-row: span 2 / span 2;
    grid-row-start: 3;
    border-radius: 10px 10px;
    padding: 10px;
    margin: 5px;
    height: max-content;
    }

.div3:hover {
    border: 2px rgb(15, 96, 58) solid;
    animation: deslizar-abajo 6s infinite;
}

@keyframes deslizar-abajo {
from{transform:translateY(100px);opacity: 0;}
to{transform: translateY(0);opacity: 1;}
}



.div4{
    grid-column: span 2 / span 2;
    grid-row-start: 5;
    margin: 20px;
    padding: 15px;
      background-color: rgb(215, 215, 215);
    
}


div p{

   margin: 5px;
   padding:5px;
   height: 100px;

   

}

div h2{
    margin: 5px;
    padding: 5px;
    height: 50px;

}

